{% extends "base.html" %}

{% block title %}History{% endblock %}

{% block content %}
<h1>History</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Sheet name</th>
            <th>Average</th>
            <th>Attainment Level</th>
            <th>Average COs</th>
            <th>Average CO Levels</th>
        </tr>
    </thead>
    <tbody>
        {% for result in results %}
            <tr>
                <td>{{ result.id }}</td>
                <td>{{ result.sheet_name }}</td>
                <td>{{ result.average }}</td>
                <td>{{ result.level }}</td>
                <td>{{ result.avg_cos }}</td>
                <td>{{ result.avg_co_levels }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('index') }}">Back to Home</a>
{% endblock %}
